/*stylesheet_knop*/

html{
	height:100%;
}

body{
	background-image: url(/restaurant1.jpg)
}

.tafelknoppen button {
	box-sizing: border-box;
	width: 80%;
	height: 40%
	margin-top: 10%;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
	padding-bottom: 40px;
	border-radius: 3px;
	border-color:#3fb0ac;
	background: #3fb0ac;
	font-size: 50px;
	text-decoration: none;
    webkit-transition-duration: 0.5s;
    transition-duration: 0.5;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.personeelknop button {
	box-sizing: border-box;
	width: 80%;
	height: 10%;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
	padding-bottom: 40px;
	border-radius: 3px;
	border-color:#3fb0ac;
	background: #3fb0ac;
	font-size: 50px;
	text-decoration: none;
    webkit-transition-duration: 0.5s;
    transition-duration: 0.5;
	color: white;
	font-family: 'Roboto', sans-serif;
}

/*
button {
	box-sizing: border-box;
	width: 80%;
	height: 60%;
	margin-top: 2%;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
	padding-bottom: 40px;
	border-radius: 3px;
	border-color:#3fb0ac;
	background: #3fb0ac;
	font-size: 50px;
	text-decoration: none;
    webkit-transition-duration: 0.5s;
    transition-duration: 0.5;
	color: white;
}

#Personeelportaal {
	box-sizing: border-box;
	width: 60%;
	height: 20%;
	margin-top: 2%;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
	padding-bottom: 40px;
	border-radius: 3px;
	border-color:#3fb0ac;
	background: #3fb0ac;
	font-size: 50px;
	text-decoration: none;
    webkit-transition-duration: 0.5s;
    transition-duration: 0.5;
	color: white;
} 
*/