/*IntroductieProject CSS van inlogscherm Job */

* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    max-height: 100%;
}

h1 {
    height: 100px;
    width: 100%;
    font-size: 18px;
    background: #3fb0ac;
    text-align: center;
    color: white;
    line-height: 150%;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

form {
    box-sizing: border-box;
    width: 80%;
    height: 60%;
    text-align: center;
    background-color: white;
    margin: 100px auto 0;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
    border-radius: 3px;
}

form h1 {
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    font-size: 32px;
    font-family: industry, sans-serif ;

}

input {
    margin: 40px 40px;
    margin-left: 30%;
    width: 40%;
    display: block;
    text-align: center;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #1abc9c;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: #0e6252;
}

input:focus, input VALID {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

input:focus::-webkit-input-placeholder, input VALID::-webkit-input-placeholder {
    color: #1abc9c;
    font-size: 11px;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    visibility: visible !important;
}

button {
    border: none;
    background: #3fb0ac;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 200px;
    color: white;
    margin-left: 25px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

The magic happens in a few lines of code for the input:focus and input:valid. The CSS transform property plays a crucial role to achieve this little instant feedback effect.
input:focus::-webkit-input-placeholder,
input:valid::-webkit-input-placeholder {
    color: #1abc9c;
    font-size: 11px;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    visibility: visible !important;
}

#gastenknop {
    padding-top: 10%;
}

#horizontaallijn {
    margin-left: 7%;
    margin-top: 10%;
    text-align: center;
    width: 85%;
}

/* NIEUWE CODE VAN VRAGENSCHERM JOOST */

body { /* Pagina kan zo niet scrollen */
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

#position1 {
  /* Safari */
  -webkit-transform: rotate(-45deg);
  /* Firefox */
  -moz-transform: rotate(-45deg);
  /* IE */
  -ms-transform: rotate(-45deg);
  /* Opera */
  -o-transform: rotate(-45deg);
  margin-top: 50%;
  margin-left: 0%;
  font-size: 50;
  font-family: 'Roboto', sans-serif;
}

#position2 {
/* Safari */
-webkit-transform: rotate(-135deg);
/* Firefox */
-moz-transform: rotate(-135deg);
/* IE */
-ms-transform: rotate(-135deg);
/* Opera */
-o-transform: rotate(-135deg);
margin-top: -10%;
font-size: 50;
font-family: 'Roboto', sans-serif;
}

#position3 {
/* Safari */
-webkit-transform: rotate(-225deg);
/* Firefox */
-moz-transform: rotate(-225deg);
/* IE */
-ms-transform: rotate(-225deg);
/* Opera */
-o-transform: rotate(-225deg);
margin-top: -15%;
font-size: 50;
font-family: 'Roboto', sans-serif;
}

#position4 {
/* Safari */
-webkit-transform: rotate(-315deg);
/* Firefox */
-moz-transform: rotate(-315deg);
/* IE */
-ms-transform: rotate(-315deg);
/* Opera */
-o-transform: rotate(-315deg);
margin-top: -05%;
font-size: 50;
font-family: 'Roboto', sans-serif;
}

#upper-left {
    height: 80px;
    position: fixed;
    top: 10;
    left: 0;
    /* Safari */
  	-webkit-transform: rotate(180deg);
  	/* Firefox */
  	-moz-transform: rotate(180deg);
  	/* IE */
  	-ms-transform: rotate(180deg);
  	/* Opera */
  	-o-transform: rotate(180deg);
}

#upper-right {
	height: 80px;
    position: fixed;
    top: 10;
    right: 0;
    /* Safari */
  	-webkit-transform: rotate(180deg);
  	/* Firefox */
  	-moz-transform: rotate(180deg);
  	/* IE */
  	-ms-transform: rotate(180deg);
  	/* Opera */
  	-o-transform: rotate(180deg);
}

#bottom-left {
    height: 80px;
    position: fixed;
    bottom: 10;
    left: 0;
}

#bottom-right {
	height: 80px;
    position: fixed;
    bottom: 10;
    right: 0;
}

#nieuwevraagpos1 {
	position: fixed;
	top: 50%;
    font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	/* Safari */
  	-webkit-transform: rotate(90deg);
  	/* Firefox */
  	-moz-transform: rotate(90deg);
  	/* IE */
  	-ms-transform: rotate(90deg);
  	/* Opera */
  	-o-transform: rotate(90deg);
  	left:0;
}

#nieuwevraagpos2 {
	position: fixed;
	top: 50%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	/* Safari */
  	-webkit-transform: rotate(-90deg);
  	/* Firefox */
  	-moz-transform: rotate(-90deg);
  	/* IE */
  	-ms-transform: rotate(-90deg);
  	/* Opera */
  	-o-transform: rotate(-90deg);
  	right:0;
}

/* EIND NIEUWE CODE VAN VRAGENSCHERM JOOST */